= form_for [:admin, pattern_group] do |f|


  %fieldset
    %legend Pattern Group
    .row
      .small-2.columns{class: f.object.errors[:name].any? ? "error" : ""}
        = f.label :name, class: "right inline"
      .small-10.columns{class: f.object.errors[:name].any? ? "error" : ""}
        = f.text_field :name
        -if f.object.errors[:name].any?
          %br/
          -f.object.errors[:name].each do |error|
            %small.error=error

  = f.submit
