.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          =link_to root_path do
            = raw "<span>ux</span>screen"

      %li.toggle-topbar.menu-icon
        =link_to "#" do
          %span menu

    %section.top-bar-section
      %ul.right
        %li
          =link_to "New shot", [:new, :admin, :shot]
        %li
          =link_to "Shots", [:admin, :shots]
        %li.divider
        %li
          =link_to "New PG", [:new, :admin, :pattern_group]
        %li
          =link_to "PG's", [:admin, :pattern_groups]
        %li.divider
        %li
          =link_to "Users", "#"

