.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          =link_to admin_path do
            = raw "mirkopatterns / admin"

      %li.toggle-topbar.menu-icon
        =link_to "#" do
          %span menu

    %section.top-bar-section
      %ul.right
        %li
          =link_to "New shot", [:new, :admin, :shot]
        %li
          =link_to "Shots", [:admin, :shots]

