#feed_container
  %ul#newest-items.item-list
    = render "feed"
.next-wrap
  = link_to_next_page shots, "More...", remote: true
%hr
.row
  .columns{class: current_user ? 'large-6' : 'large-12'}
    %h3
      All tags
    = render partial: 'tag_cloud', locals: {tags: Shot.tag_counts}
  - if current_user
    .large-6.columns
      %h3
        My Tags
      #users_tags
        = render partial: 'tag_cloud', locals: {tags: current_user.shots.tag_counts}
