/*
 *= require_self
 *= require foundation_and_overrides
 */

@import "foundation/variables"
@import "foundation/components/global"
@import "foundation/components/thumbs"
@import "foundation/components/reveal"

ul, li
  list-style: none
  margin: 0px
  padding: 0px
